<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Readable Browser</title>
  </head>
  <body class="flex-center">
    <div class="landing">
      <h1>Readable Browser</h1>

      <a href="javascript:location.href='http://localhost:3000/article?url='+encodeURIComponent(location.href);">bookmarklet</a>
    <div>

    <%- include('partials/footer') %>
  </body>
</html>
