<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="app.css">

    <title>Readable Browser</title>
  </head>
  <body class="flex-center">
    <div class="landing">
      <h1>Readable Browser</h1>

      <a href="javascript:location.href='http://localhost:3000/article?url='+encodeURIComponent(location.href);">bookmarklet</a>
    <div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
