<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="flex-center">
    <main>
      <h1><%= title %></h1>

      <p>Move this <a href="javascript:location.href='http://localhost:3000/article?url='+encodeURIComponent(location.href);"><code>bookmarklet link</code></a> to your bookmark toolbar to create a button to open any pages into Readable Browser.</p>
    </main>
  </body>
</html>
